In [2]:
import pandas as pd

Athlete_events = pd.read_csv("Data/athlete_events.csv")
Noc_regions = pd.read_csv("Data/noc_regions.csv")

df_athlete = pd.DataFrame(Athlete_events)
df_regions = pd.DataFrame(Noc_regions)

In [71]:
# NOTE: skriv enhetligt

# Looking at Regions

In [21]:
df_regions # looking at df_regions
# we can see there are 2 Yemen

     NOC       region                 notes
0    AFG  Afghanistan                   NaN
1    AHO      Curacao  Netherlands Antilles
2    ALB      Albania                   NaN
3    ALG      Algeria                   NaN
4    AND      Andorra                   NaN
..   ...          ...                   ...
225  YEM        Yemen                   NaN
226  YMD        Yemen           South Yemen
227  YUG       Serbia            Yugoslavia
228  ZAM       Zambia                   NaN
229  ZIM     Zimbabwe                   NaN

[230 rows x 3 columns]

In [24]:
len(df_regions["region"].unique()) # unique regions in regions

207

In [31]:
df_regions[df_regions["region"].isna() == True] # nan values in region

     NOC region                 notes
168  ROT    NaN  Refugee Olympic Team
208  TUV    NaN                Tuvalu
213  UNK    NaN               Unknown

In [36]:
df_regions[df_regions["notes"].notna() == True].reset_index(drop = True) # all notes in dataframe
# might have to remove unknown, is "Individual Olympic Athletes" actually a region for example?

    NOC                       region                        notes
0   AHO                      Curacao         Netherlands Antilles
1   ANT                      Antigua          Antigua and Barbuda
2   ANZ                    Australia                  Australasia
3   BOH               Czech Republic                      Bohemia
4   CRT                       Greece                        Crete
5   HKG                        China                    Hong Kong
6   IOA  Individual Olympic Athletes  Individual Olympic Athletes
7   ISV           Virgin Islands, US               Virgin Islands
8   NBO                     Malaysia                 North Borneo
9   NFL                       Canada                 Newfoundland
10  ROT                          NaN         Refugee Olympic Team
11  SCG                       Serbia        Serbia and Montenegro
12  SKN                  Saint Kitts     Turks and Caicos Islands
13  TTO                     Trinidad          Trinidad and Tobago
14  TUV                          NaN                       Tuvalu
15  UAR                        Syria         United Arab Republic
16  UNK                          NaN                      Unknown
17  WIF                     Trinidad       West Indies Federation
18  YAR                        Yemen                  North Yemen
19  YMD                        Yemen                  South Yemen
20  YUG                       Serbia                   Yugoslavia

In [92]:
# NOTE regex filter out olympic from regions, search strings containing instead of absolute match

Empty DataFrame
Columns: [NOC, region, notes]
Index: []

In [44]:
df_regions[df_regions["region"].isin(["Russia"])] # there are multiple versions of the same country in some cases

     NOC  region notes
66   EUN  Russia   NaN
171  RUS  Russia   NaN
214  URS  Russia   NaN

In [46]:
df_regions[df_regions["region"].isin(["Yemen"])] # looking at some specific examples

     NOC region        notes
224  YAR  Yemen  North Yemen
225  YEM  Yemen          NaN
226  YMD  Yemen  South Yemen

In [45]:
df_regions[df_regions["region"].isin(["Sudan", "South Sudan", "Kosovo", "Palestine", "Taiwan"])] # looking at some specific examples

     NOC       region notes
110  KOS       Kosovo   NaN
159  PLE    Palestine   NaN
187  SSD  South Sudan   NaN
189  SUD        Sudan   NaN
204  TPE       Taiwan   NaN

# Looking at Athletes

In [47]:
df_athlete

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [72]:
df_athlete.info() # there are some nans for age, height and weight, theory: they will be mostly from older records where records were not kept as closely

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [74]:
df_athlete[df_athlete["Age"].isna() == True].sort_values(by = "Year", ascending = False) # missing age from mostly older records

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
37946,19504,Cha Yong-Hwa,F,NaN,145.0,39.0,North Korea,PRK,2008 Summer,2008,Summer,Beijing,Gymnastics,Gymnastics Women's Uneven Bars,NaN
37945,19504,Cha Yong-Hwa,F,NaN,145.0,39.0,North Korea,PRK,2008 Summer,2008,Summer,Beijing,Gymnastics,Gymnastics Women's Individual All-Around,NaN
162719,81706,Moosaka,F,NaN,NaN,NaN,Uganda,UGA,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Singles,NaN
142614,71557,"Christopher Paul ""Chris"" Lori",M,NaN,NaN,NaN,Canada-2,CAN,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Two,NaN
142615,71557,"Christopher Paul ""Chris"" Lori",M,NaN,NaN,NaN,Canada-2,CAN,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113380,57436,Tilemakhos Karakalos,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Fencing,"Fencing Men's Sabre, Individual",Silver
113390,57440,Karakatsanis,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",NaN
113391,57441,Konstantinos Karakatsanis,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Athletics,"Athletics Men's 1,500 metres",NaN
160372,80474,Ioannis Mitropoulos,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Gymnastics,Gymnastics Men's Rings,Gold
181291,91114,Pantazidis,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Shooting,"Shooting Men's Military Pistol, 25 metres",NaN

In [75]:
df_athlete[df_athlete["Height"].isna() == True].sort_values(by = "Year", ascending = False) # missing height in more recent years

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
76691,38935,Tigest Gashaw Belay,F,19.0,NaN,NaN,Bahrain,BRN,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,"Athletics Women's 1,500 metres",NaN
83371,42358,Naomy Hope Grand'Pierre,F,19.0,NaN,NaN,Haiti,HAI,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 50 metres Freestyle,NaN
83735,42568,Kyle Greaux,M,28.0,NaN,NaN,Trinidad and Tobago,TTO,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 200 metres,NaN
195175,97968,Rebeca Lissette Quinteros Ortz,F,18.0,NaN,NaN,El Salvador,ESA,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 400 metres Freestyle,NaN
152078,76331,Emmanuel Matadi,M,25.0,NaN,NaN,Liberia,LBR,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's 100 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77782,39487,Georgios Gennimatas,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's 100 metres,NaN
258828,129584,Joseph Welzenbacher,M,NaN,NaN,NaN,Germany,GER,1896 Summer,1896,Summer,Athina,Cycling,Cycling Men's 100 kilometres,NaN
258829,129584,Joseph Welzenbacher,M,NaN,NaN,NaN,Germany,GER,1896 Summer,1896,Summer,Athina,Cycling,Cycling Men's 12-Hours Race,NaN
114592,58020,N. Katravas,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Swimming,"Swimming Men's 1,200 metres Freestyle",NaN
23916,12563,Conrad Helmut Fritz Bcker,M,25.0,NaN,NaN,Germany,GER,1896 Summer,1896,Summer,Athina,Gymnastics,"Gymnastics Men's Horizontal Bar, Teams",Gold

In [53]:
df_athlete[df_athlete["Year"] > 2000].sort_values(by = "Year", ascending = False).head(50)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
129782,65337,Yusaku Kuwazuru,M,30.0,188.0,98.0,Japan,JPN,2016 Summer,2016,Summer,Rio de Janeiro,Rugby Sevens,Rugby Sevens Men's Rugby Sevens,NaN
40186,20661,Eunice Chibanda,F,23.0,163.0,61.0,Zimbabwe,ZIM,2016 Summer,2016,Summer,Rio de Janeiro,Football,Football Women's Football,NaN
177674,89298,Stefano Oppo,M,21.0,187.0,70.0,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Men's Lightweight Coxless Fours,NaN
40141,20643,Izabella Maizza Chiappini,F,20.0,170.0,59.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Water Polo,Water Polo Women's Water Polo,NaN
89096,45164,Ham Sang-Myeong,M,20.0,168.0,56.0,South Korea,KOR,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Men's Bantamweight,NaN
40144,20645,Andrea Chiarabini,M,21.0,179.0,70.0,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Diving,Diving Men's Springboard,NaN
40145,20645,Andrea Chiarabini,M,21.0,179.0,70.0,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Diving,Diving Men's Synchronized Springboard,NaN
177677,89300,Laura Oprea,F,22.0,186.0,75.0,Romania,ROU,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Women's Coxless Pairs,NaN
40149,20647,Germn Pablo Chiaraviglio Ermcora,M,29.0,195.0,84.0,Argentina,ARG,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's Pole Vault,NaN
229183,115074,Evelyn Lee Stevens (-Baker),F,33.0,166.0,55.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Cycling,Cycling Women's Individual Time Trial,NaN
229182,115074,Evelyn Lee Stevens (-Baker),F,33.0,166.0,55.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Cycling,"Cycling Women's Road Race, Individual",NaN
177678,89300,Laura Oprea,F,22.0,186.0,75.0,Romania,ROU,2016 Summer,2016,Summer,Rio de Janeiro,Rowing,Rowing Women's Coxed Eights,Bronze
177681,89301,Marian Oprea,M,34.0,191.0,85.0,Romania,ROU,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Men's Triple Jump,NaN
40185,20660,Charles Koshiro Chibana,M,26.0,163.0,66.0,Brazil,BRA,2016 Summer,2016,Summer,Rio de Janeiro,Judo,Judo Men's Half-Lightweight,NaN
40190,20665,Kseniya Eduardovna Chibisova,F,28.0,186.0,78.0,Russia,RUS,2016 Summer,2016,Summer,Rio de Janeiro,Judo,Judo Women's Heavyweight,NaN
228957,114956,Inna Yakovlevna Stepanova,F,26.0,176.0,63.0,Russia,RUS,2016 Summer,2016,Summer,Rio de Janeiro,Archery,Archery Women's Team,Silver
229178,115071,Deajah Stevens,F,21.0,175.0,65.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 200 metres,NaN
229162,115059,Jovana Stevanovi,F,24.0,192.0,72.0,Serbia,SRB,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Women's Volleyball,Silver
229161,115058,Ivan Stevanovi,M,34.0,193.0,105.0,Croatia,CRO,2016 Summer,2016,Summer,Rio de Janeiro,Handball,Handball Men's Handball,NaN
177719,89311,Soren Opti,M,19.0,187.0,NaN,Suriname,SUR,2016 Summer,2016,Summer,Rio de Janeiro,Badminton,Badminton Men's Singles,NaN
177722,89313,Samson Samuel Opuakpo Forcados,M,30.0,183.0,70.0,Nigeria,NGR,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Men's 50 metres Freestyle,NaN
177723,89314,Arina Pavlovna Opyonysheva,F,17.0,161.0,48.0,Russia,RUS,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 200 metres Freestyle,NaN
177724,89314,Arina Pavlovna Opyonysheva,F,17.0,161.0,48.0,Russia,RUS,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 400 metres Freestyle,NaN
89047,45138,Laurence Halsted,M,32.0,185.0,85.0,Great Britain,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Fencing,"Fencing Men's Foil, Team",NaN
89046,45138,Laurence Halsted,M,32.0,185.0,85.0,Great Britain,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Fencing,"Fencing Men's Foil, Individual",NaN
89033,45133,"Francesca Jean ""Fran"" Halsall",F,26.0,172.0,64.0,Great Britain,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 4 x 100 metres Medley Relay,NaN
89032,45133,"Francesca Jean ""Fran"" Halsall",F,26.0,172.0,64.0,Great Britain,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 50 metres Freestyle,NaN
177725,89314,Arina Pavlovna Opyonysheva,F,17.0,161.0,48.0,Russia,RUS,2016 Summer,2016,Summer,Rio de Janeiro,Swimming,Swimming Women's 800 metres Freestyle,NaN
229227,115095,Travis Stevens,M,30.0,181.0,80.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Judo,Judo Men's Half-Middleweight,Silver
89107,45169,Rashid Salih Hamad Al-Athba,M,28.0,182.0,85.0,Qatar,QAT,2016 Summer,2016,Summer,Rio de Janeiro,Shooting,Shooting Men's Skeet,NaN
89108,45170,Sulaiman Hamad,M,22.0,177.0,66.0,Saudi Arabia,KSA,2016 Summer,2016,Summer,Rio de Janeiro,Judo,Judo Men's Half-Lightweight,NaN
229256,115113,Shakur Stevenson,M,19.0,173.0,56.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Boxing,Boxing Men's Bantamweight,Silver
229415,115187,Sarah Steyaert,F,29.0,175.0,67.0,France,FRA,2016 Summer,2016,Summer,Rio de Janeiro,Sailing,Sailing Women's Skiff,NaN
177469,89198,Marta Chinita Soares Onofre,F,25.0,170.0,64.0,Portugal,POR,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's Pole Vault,NaN
229375,115165,Murray Stewart,M,30.0,186.0,86.0,Australia,AUS,2016 Summer,2016,Summer,Rio de Janeiro,Canoeing,"Canoeing Men's Kayak Singles, 1,000 metres",NaN
177495,89213,Rodolfo Lombardo Ontiveros Gmez,M,32.0,185.0,82.0,Mexico,MEX,2016 Summer,2016,Summer,Rio de Janeiro,Beach Volleyball,Beach Volleyball Men's Beach Volleyball,NaN
177501,89216,"Nwanyika Jenete C. ""Anyika"" Onuora",F,31.0,178.0,76.0,Great Britain,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
177534,89229,Isabela Maria Moreira Onyshko,F,18.0,157.0,50.0,Canada,CAN,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Individual All-Around,NaN
89195,45216,Nikki Jayne Hamblin,F,28.0,165.0,52.0,New Zealand,NZL,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,"Athletics Women's 5,000 metres",NaN
89194,45216,Nikki Jayne Hamblin,F,28.0,165.0,52.0,New Zealand,NZL,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,"Athletics Women's 1,500 metres",NaN
177535,89229,Isabela Maria Moreira Onyshko,F,18.0,157.0,50.0,Canada,CAN,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Team All-Around,NaN
177536,89229,Isabela Maria Moreira Onyshko,F,18.0,157.0,50.0,Canada,CAN,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Floor Exercise,NaN
40050,20599,Phillip Hung Chew,M,22.0,173.0,91.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Badminton,Badminton Mixed Doubles,NaN
40051,20599,Phillip Hung Chew,M,22.0,173.0,91.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Badminton,Badminton Men's Doubles,NaN
177537,89229,Isabela Maria Moreira Onyshko,F,18.0,157.0,50.0,Canada,CAN,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Uneven Bars,NaN
177538,89229,Isabela Maria Moreira Onyshko,F,18.0,157.0,50.0,Canada,CAN,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Balance Beam,NaN
177539,89230,Reshmie Oogink,F,26.0,179.0,72.0,Netherlands,NED,2016 Summer,2016,Summer,Rio de Janeiro,Taekwondo,Taekwondo Women's Heavyweight,NaN
40081,20616,Danny Chia,M,43.0,170.0,75.0,Malaysia,MAS,2016 Summer,2016,Summer,Rio de Janeiro,Golf,Golf Men's Individual,NaN
229329,115146,Grace Stewart,F,19.0,175.0,68.0,Australia,AUS,2016 Summer,2016,Summer,Rio de Janeiro,Hockey,Hockey Women's Hockey,NaN
177548,89233,Ooi Tze Liang,M,22.0,170.0,68.0,Malaysia,MAS,2016 Summer,2016,Summer,Rio de Janeiro,Diving,Diving Men's Platform,NaN

In [54]:
df_athlete["Games"].isin(["2016 Summer"])

0         False
1         False
2         False
3         False
4         False
          ...
271111    False
271112    False
271113    False
271114    False
271115    False
Name: Games, Length: 271116, dtype: bool

In [70]:
cond = ["2014 Winter"]

df_athlete[df_athlete["Games"].isin(cond)]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
252,126,Forough Abbasi,F,20.0,164.0,58.0,Iran,IRI,2014 Winter,2014,Winter,Sochi,Alpine Skiing,Alpine Skiing Women's Slalom,NaN
277,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014 Winter,2014,Winter,Sochi,Figure Skating,Figure Skating Men's Singles,NaN
278,145,Jeremy Abbott,M,28.0,175.0,70.0,United States,USA,2014 Winter,2014,Winter,Sochi,Figure Skating,Figure Skating Mixed Team,Bronze
809,463,Agnese boltia,F,17.0,166.0,60.0,Latvia,LAT,2014 Winter,2014,Winter,Sochi,Alpine Skiing,Alpine Skiing Women's Super G,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270930,135485,Stepan Olegovich Zuyev,M,25.0,189.0,90.0,Russia,RUS,2014 Winter,2014,Winter,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
270966,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014 Winter,2014,Winter,Sochi,Alpine Skiing,Alpine Skiing Men's Giant Slalom,NaN
270967,135500,Kristaps Zvejnieks,M,21.0,185.0,87.0,Latvia,LAT,2014 Winter,2014,Winter,Sochi,Alpine Skiing,Alpine Skiing Men's Slalom,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN

In [ ]:
# NOC will be our connection to countries from the region df
# TODO check whether to include all 3 connections for Russia for example
# NOTE seems to be mostly older records that are inconsistent in formatting, see below for examples:

In [48]:
df_athlete[df_athlete["Name"] == "Edgar Lindenau Aabye"] # year 1900

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold

In [49]:
df_athlete[df_athlete["Name"] == "Andrzej ya"] # year 1976

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN

In [81]:
len(df_athlete["Team"].unique())

1184

In [82]:
df_athlete["Team"].unique()

array(['China', 'Denmark', 'Denmark/Sweden', ..., 'Solos Carex',
       'Dow Jones', 'Digby'], dtype=object)

In [83]:
# checking if teams could be a better representative of countries
df_athlete["Team"].drop_duplicates() #

0                  China
2                Denmark
3         Denmark/Sweden
4            Netherlands
10         United States
               ...
259381         Sea Dog-2
259975             Mainz
260675       Solos Carex
264108         Dow Jones
270564             Digby
Name: Team, Length: 1184, dtype: object